.menu-button {
    position: relative;
    height: 5%;
    width: 80%;
    max-width: 230px;

    
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    

    text-align: center;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-button-left{
    
    background-image: url("../../../../assets/menu-sign-left-normal.png");
}
.menu-button-left:hover{
    background-image: url("../../../../assets/menu-sign-left-hover.png");
}
.menu-button-right{
    background-image: url("../../../../assets/menu-sign-right-normal.png");
}
.menu-button-right:hover{
    background-image: url("../../../../assets/menu-sign-right-hover.png");
}