#menu-closed{
    margin-left: 20px;
    margin-top:20px;
    top: 0%;
    left: 0%;
    position:fixed; z-index:100;
    height: 3rem;
    width: 3rem;
    background:none;
}
#menu-closed img{
    position: absolute;
    top: 0%;
    left: 0%;
}

#menu-opened{
    position:fixed; z-index:100;
    top: 0%;
    left: -100%;
    height: 100%;
    width: 40%;
    max-width: 400px;

    background-color: black;
    border-right: 0.1rem solid white;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
     align-items: center;

    animation-name: slide-left;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slide-left {
    100%{
        left: 0%;
    }
}
#menu-upper{
    position: relative;
    height: 7%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#menu-upper img{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 3rem;
    width: 3rem;


}
#menu-close-button{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    
    height: 2rem;
    width: 2rem;

    background: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-close-button:hover{
    color: var(--dark-city-green);
}
#menu-upper-company-name{
    position: relative;
    /* background-color: red; */
    height: 50%;
    margin-top:10px;

    font-size: 1.2rem;
    color: grey;
}
#menu-user-greeting{
    position: relative;
    /* background-color: red; */
    height: 30%;
    top:30%;

    font-size: 0.9rem;
    
    
}
.menu-horizontal-line{
    position: relative;
    right:15%;

    height: 2px;
    width: 50%;

    background-color: grey;
    
}
.menu-category{
    position: relative;
    /* background-color: red; */
    height: 2%;
    left: 10%;
    margin-bottom: 10px;
    font-size: 1.6rem;
    
}

@media (max-width:1000px) {
   
}
@media (max-width:750px) {
    #menu-opened{
        width: 100%;
        max-width: none;
    }
}


@media (max-height:600px) {
    #menu-closed{
        margin-top:5px;
        margin-left:10px;
    }
}