@font-face {
    font-family: Helmet;
    src: url("../assets/Helmet-Regular.ttf");
}


* {
    position: absolute;
    padding: 0px;
    margin: 0;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: "Helmet";
    color: white;
    box-sizing: border-box;
    
}
#LandingPage{
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
}

@media (max-width:1000px) {
    *{
        
    }
}
@media (max-width:750px) {
    *{
        font-size: 20px;
    }
}


@media (max-height:600px) {
    *{
        font-size: 13px;
    }
}