#link-page{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
#link-page-message{
    bottom:3%;
    left:1%;

    height: 10px;
    width: 9cm;
    
}
@media (max-width:1000px) {
        #link-page-message{
            display:none;
        }

}
@media (max-width:750px) {
    *{
       
    }
}


@media (max-height:600px) {

}