#link-page{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

@media (max-width:1000px) {
    *{
        
    }
}
@media (max-width:750px) {
    *{
       
    }
}


@media (max-height:600px) {

}