@font-face {
    font-family: Helmet;
    src: url("./assets/Helmet-Regular.ttf");
}

:root {
    --dark-city-green: #00ff9d;
}

* {
    position: absolute;
    padding: 0px;
    margin: 0;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: "Helmet";
    color: white;
    box-sizing: border-box;

}

@media (max-width:1000px) {
    * {}
}

@media (max-width:750px) {
    * {}
}
